
body{
    background-color: purple;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.RPG h2{
    text-decoration: underline black;
    color: black !important;
}

.RPG{
    background-color: yellow;
    min-height: 150px;
    width:  50vw;
    text-align: center;
    border-radius: 25px   ;
    padding: 20px;
    box-shadow: 4px 1px 18px black;
    margin: 10px;

}

.input-container{

    border: 5px black solid;
    padding: 10px;
    border-radius: 10px;
    display:flex ;
    justify-content: space-between;
}

.input{
    border:none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 2px;
}

.input::placeholder{
    letter-spacing: 0px;
    color:black;
}

.fa-copy{
    cursor: pointer;
    opacity: .3;
}

.fa-copy:hover{
    opacity: .7;
}

.btn{
    background:black ;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover{
    background-color: aquamarine;
    
}

.btn:active{
    transform: scale(0.95);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: antiquewhite;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}
.active.alert-container{
    right: -300px;

}
